.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 3vh 0;

  .rightSide{
    display: flex;
    justify-content: space-evenly;
    margin-left:5%;

    .counter{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 85%;
      align-items: center;
      margin-right: 5%;

      span{
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
      }

    }

  }

}

.underline{
  border-bottom: #E5E5E5 solid 1px ;
}