.currencySwitcher{
  font-size: 1.2rem;
  .arrow{
    padding-left: 15%;
  }
}

.overlay{
  position: absolute;
  width: 5vw;
  background-color: white;
  border: 1px solid black;
  top: 7%;
  right: 14%;
  z-index: 400;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}

.disabled{
  display: none;
}